<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Flask API IBGE</title>
</head>

<body>
    <h1>API IBGE - Busque uma noticia</h1>
    <form action="/resultado" method="post">
        <label for="input-query">Faça uma pesquisa:</label>
        <input type="search" id="input-query" name="query" required>
        <button type="submit">Pesquisar</button>
    </form>
</body>

</html>